:root {
	--accent: #e0a238;
}

* {
	box-sizing: border-box;
	font-family: 'Consolas', 'JetBrains Mono', Roboto, Lato, Calibri, sans-serif;
}

body {
	/*padding: 1cm 2.5cm;*/
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	page-break-after: avoid;
}


p {
	font-size: 12pt;
	text-align: justify;
	orphans: 3;
	widows: 3;
}

p img {
	height: 15pt;
	width: auto;
	padding: none;
	margin: none;
	display: inline;
}

em {
	/* "*text*" */
	color: rgb(221, 34, 34);
	text-decoration: none;
	font-style: normal;
}

s {
	/* "~~text~~" */
	color: rgb(236, 30, 255);
	text-decoration: none;
}

ol,
ul {
	font-size: 16pt;
}

ol ul ul {
	list-style-type: disc;
}

h1 {
	font-size: 12pt;
	color: rgb(38, 202, 231);
}

h2 {
	font-size: 12pt;
	color: rgb(224, 54, 24);
}

h3 {
	font-size: 32pt;
	border-bottom: var(--accent) 1px solid;
	color: rgb(226, 169, 46);
}

h4 {
	font-size: 12pt;
}

h5 {
	font-size: 12pt;
}

h6 {
	font-size: 12pt;
}

blockquote {
	border-left: var(--accent) 3px solid;
	margin: 0;
	padding: 0 1.5em;
}

a {
	color: var(--accent);
	text-decoration: underline;
}

figure img {
	max-width: 12cm;
	max-height: 6cm;
	min-height: 3cm;
	display: block;
	margin: auto;
}

figcaption {
	text-align: center;
	font-size: 14pt;
}

code,
code a,
code span {
	font-family: FiraCode, "Fira Code", "Ubuntu Mono", "Consolas", monospace;
}

pre {
	margin: 0.1em 2em;
	padding: 0.2em 1em;
	border: black 1px solid;
	border-left: var(--accent) 3px solid;
	page-break-inside: avoid;
}

table {
	page-break-inside: avoid;
	border-collapse: collapse;
	margin: 0.1em 2em;
}

td {
	border: 1px solid black;
	padding: 2mm;
}

tr.odd {
	background: #eee;
}

th {
	border: 1px solid black;
	padding: 2mm;
}

div.break {
	page-break-before: always;
}

@page {
	margin: 0;
	padding: 0;
}